<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tbl}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <span><a href="/crm/users">User</a></span>
        <span><a href="/crm/orders">Order</a></span>
        <span><a href="/crm/order_items">OrderItem</a></span>
        <span><a href="/crm/items">Item</a></span>
        <span><a href="/crm/stores">Store</a></span>
    </nav>