{% include './header.html' %}
    <main>
        <h1>{{ tbl }}</h1>
        <table>
            <thead>
                <tr>
                    {% for key in keys %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- id에서 링크 제외, order id, item id에 링크해야 함. item 테이블과 조인해서 아이템명 가져와야 함 -->
                    {% for key in keys %}
                    <td>{{ row[key] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <div>
        </div>
    </main>
</body>
</html>
