<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% if (isAdmin) { %>
        <H1>안녕하세요, 관리자님!</H1>
    <% } else { %>
        <H2>안녕, 사용자님</H2>
    <% } %>
</body>
</html>