nav {
    background: #333333;
    color: white;
    padding: 14px;    
}

nav > span {
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #888888;
    padding: 5px;
}

th {
    background-color: #333333;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:hover {
    background-color: orange;
    cursor: pointer;
}

a {
    text-decoration: none;
}

nav a {
    color: white;
}

td a {
    color: rgba(90, 90, 255, 0.952);
}
