table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #888888;
}

th {
    background-color: #333333;
    color: white;
}

tr:nth-child(even) {
    background-color: #777777;
}

td:hover {
    background-color: orange;
    cursor: pointer;
}